In [1]:
import numpy as np

In [2]:
import pandas as pd

In [7]:
fbs=pd.read_csv(r"C:\Users\Muhd\Desktop\Hamoye\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [8]:
fbs.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [15]:
fbs.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [17]:
fbs['Y2017'].mean()

140.917764860268

In [18]:
fbs['Y2017'].std()

1671.8623590572788

In [29]:
fbs.groupby('Y2017')['Area'].sum()

Y2017
-1582.0                       EgyptEgypt
-1200.0                       Mozambique
-1159.0                       Mozambique
-865.0       United Republic of Tanzania
-860.0       United Republic of Tanzania
                        ...
 96443.0                           Egypt
 106400.0                       Ethiopia
 112625.0                        Nigeria
 117702.0                        Nigeria
 190873.0                        Nigeria
Name: Area, Length: 4537, dtype: object

In [30]:
fbs.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [36]:
fbs.groupby('Y2014')['Y2014'].count()

Y2014
-1796.0      1
-1631.0      1
-849.0       2
-838.0       1
-685.0       1
            ..
 90425.0     1
 98094.0     1
 108756.0    1
 109593.0    1
 176405.0    1
Name: Y2014, Length: 4493, dtype: int64

In [37]:
fbs['Y2014'].isnull().sum()

1589

In [42]:
fbs.groupby('Y2015').sum()

,Area Code,Item Code,Element Code,Y2014,Y2016,Y2017,Y2018
Y2015,,,,,,,
-3161.0,202,2905,5072,439.0,-1499.0,2665.0,-296.0
-2152.0,202,2514,5072,626.0,-1324.0,2555.0,-597.0
-1284.0,276,2905,5072,4569.0,3266.0,-607.0,1898.0
-907.0,251,2905,5072,520.0,-506.0,532.0,-529.0
-887.0,276,2518,5072,3134.0,2432.0,-819.0,163.0
...,...,...,...,...,...,...,...
92443.0,59,2501,511,90425.0,94447.0,96443.0,98424.0
100835.0,238,2501,511,98094.0,103603.0,106400.0,109224.0
110798.0,159,2907,5301,108756.0,116483.0,112625.0,117038.0
111663.0,159,2907,5511,109593.0,119330.0,117702.0,118172.0
181137.0,159,2501,511,176405.0,185960.0,190873.0,195875.0

In [44]:
fbs.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00